<% content_for :title, "Contact - Eligia" %>
<% content_for :scroll_navbar, 'scroll-navbar' %>
<% content_for :home_navbar, 'home-navbar position-fixed' %>
<%= render 'shared/navbar' %>

<div class="gradient-bg fullscreen">
  <div class="blog-form">
    <div class="container">
      <h1>Éditer article "<%= @blogpost.title %>"</h1>
      <%= render 'blogpost_form', blogpost: @blogpost %>
    </div>
  </div>
</div>
