$red: #FD1015;
$blue: #7AB5CE;
$yellow: #ffe54c;
$orange: #ff7700;
$green: #244d2c;
$light-green: #8FCC9B;
$super-light-green: #d0ebd5;
$ultra-light-green: #FAFFFA;
$gray: #333333;
$light-gray: #dfdede;
$super-light-gray: #F4F4F4;
$off-white: #fbfbfb
