<div class='welcome'>
  <h1>Bonjour <%= @user.first_name %> <%= @user.last_name %></h1>
</div>


<p>Bienvenue sur <strong>Eligia</strong></p>

<p>
  Vous pouvez désommais accéder à notre service en suivant
  les démarches sur <%= link_to 'votre compte', user_url(@user) %> ou à commencer à utiliser notre
  formulaire d'aide à la résiliation en suivant <%= link_to 'ce lien', new_order_url %>
</p>
