<% content_for :title, "Mon espace - Eligia" %>

<%= render 'shared/navbar' %>


<turbo-frame id="content">
  <div class="user-dashboard-grid">
    <div class="user-dashboard-navigation">
      <div class="user-dashboard-navigation-top">
        <p>Bonjour <strong><%= current_user.first_name %></strong><p>
      </div>
      <div class='tab current-tab'>
        <p>Informations personnelles</p>
      </div>
      <%= link_to user_orders_path(current_user), class: 'tab other-tab' do %>
          <p>Mes démarches</p>
      <% end %>
    </div>


    <div class="user-dashboard-content">
      <%= render 'account_infos', user: current_user %>
    </div>
  </div>
</turbo-frame>
