<div class="dashboard-navigation">
  <div class="demarches <%= order ? "bold" : ""%>">
    <%= link_to "Démarches", user_path(current_user) %>
  </div>
  <% if order %>
  <div class="dashboard-nav-right">
  >
  </div>
    <div class="dashboard-nav-right">
      <%= order.deceased_last_name %>-<%= order.deceased_first_name.first %>
    </div>
  <% end %>
</div>
