<div class="footer">
  <ul class="site-list">
    <li class="site-list-item">
      Nous contacter
    </li>
    <li class="site-list-item">
      Les tarifs
    </li>
    <li class="site-list-item">
      Nous laisser un avis
    </li>
  </ul>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'eligia-sans-fond-vecto.svg' %>
    <% end %>
  </div>
</div>
