<div class="order-account-card">

  <div class="account-name d-flex justify-content-center align-items-center">
    <%= order_account.account.name %>
  </div>
  <div class="order-account-status order-account-state-<%=order_account.aasm_state%> d-flex justify-content-center align-items-center align-center">
      <%= order_account.state_to_french %>
  </div>
  <% if order_account.aasm_state == 'documents_missing' %>
    <div class = "d-flex justify-content-center align-items-center">
      <%= link_to "Ajouter", order_account_order_documents_path(order_account), class: 'btn-second', data:{turbo: false} %>
    </div>
  <% end %>

</div>
