<div class="container">
  <div class="fullscreen">
    <h3 class="no-margin padding-top-three">Dossier de <%= @order.deceased_last_name.upcase %> <%= @order.deceased_first_name %></h3>
    <%= render "shared/dashboard_navigation", order: @order %>

    <% @order.order_accounts.each do |order_account| %>
      <%= render "order_account_card", order_account: order_account %>
    <% end %>
  </div>
</div>
