<% content_for :scroll_navbar, 'scroll-navbar' %>
<%= render 'shared/navbar' %>

<div class="container margin-bottom-five">
  <h1>Conditions générales de vente</h1>

  <h3>Article 1 : Objet et champ d'application</h3>
  <p>
    Les présentes conditions générales de vente (CGV) constituent le socle de la négociation commerciale.

    Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société ELIGIA SARL (dénomination sociale) et de son client dans le cadre de la vente des marchandises suivantes : service de résiliations de contrats.

    Tout paiement pour ce service implique l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.
  </p>

  <h3>Article 2 : Prix</h3>
  <p>
    Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA applicables au jour de la commande.

    La société ELIGIA SARL s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande.
  </p>

  <h3>Article 3 : Modalités de paiement</h3>
  <p>
    Le règlement des commandes par carte bancaire

    Les règlements seront effectués par plateforme de paiement en ligne tierce et seront immédiats.
  </p>

  <h3>Article 4 : Livraison</h3>
  <p>
    La livraison est effectuée après réalisation des démarches de résiliation des contrats souhaités.

    Le délai de livraison entre deux semaines et un mois n'est donné qu'à titre indicatif et n'est aucunement garanti.

    Par voie de conséquence, tout retard raisonnable dans la livraison des services ne pourra pas donner lieu au profit de l'acheteur à :

    - l'allocation de dommages et intérêts ;
    - l'annulation de la commande.
  </p>

  <h3>Article 5 : Force majeure</h3>
  <p>
    La responsabilité de la société ELIGIA SARL ne pourra pas être mise en oeuvre si la non-exécution ou le retard dans l'exécution de l'une de ses obligations décrites dans les présentes conditions générales de vente découle d'un cas de force majeure. À ce titre, la force majeure s'entend de tout événement extérieur, imprévisible et irrésistible au sens de l'article 1148 du Code civil.
  </p>

  <h3>Article 6 : Tribunal compétent</h3>
  <p>
    Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.

    À défaut de résolution amiable, le litige sera porté devant le Tribunal de Commerce de Bordeaux.
  </p>

</div>

<%= render 'shared/footer' %>
