<div class="fullscreen">
  <div class="container">
    <div class="align-center">
      <h2 class="no-margin padding-four">Notre tarification</h2>
      <strong>Des tarifs clairs et modulaires, pour s'adapter à tous vos besoins.</strong>
    </div>

    <div class="tarif-card-box">
      <div class="tarif-card">
        <div class="tarif-card-top">
          <p class="highlight-green">Jusqu'à 7 démarches</p>
        </div>
        <div class="tarif-card-price">
          <p>100€</p>
        </div>
      </div>
      <div class="tarif-card">
        <div class="tarif-card-top">
          <p class="highlight-yellow">Jusqu'à 10 démarches</p>
        </div>
        <div class="tarif-card-price">
          <p>130€</p>
        </div>
      </div>
      <div class="tarif-card">
        <div class="tarif-card-top">
          <p class="highlight-blue">Plus de 10 démarches</p>
        </div>
        <div class="tarif-card-price">
          <p>120€ + 8€/ démarche supplémentaire</p>
        </div>
      </div>
    </div>
  </div>
</div>
