<div class="navbar help-navbar">
  <div class="help-logo">
    <%= link_to helps_path do %>
      <%= image_tag('eligia-sans-fond-vecto.svg', alt:'Logo Eligia') %>
    <% end %>
    <%= image_tag 'help', alt: "icone aide", class: 'help-icon' %>
  </div>
</div>
