<% content_for :title, "Centre d'aide - Eligia" %>

<%= render 'help_navbar' %>

<div class="container">
  <div class="fullscreen">
    <h1>Les tarifs</h1>
  </div>
</div>

<%= render 'shared/footer' %>
