<h2>Bonjour,</h2>
<p>Merci de la confiance que vous nous accordez.</p>


<p>Pour reprendre votre dossier : <a class="link underline" href="<%= edit_order_url(@order) %>">Cliquez ici</a></p>


<p>
  L'équipe d'Eligia

  Eligia SARL,
  6 rue Flornoy 33000 Bordeaux,
  contact@eligia.fr
</p>
