.avatar {
  background-color: rgb(37, 37, 41);
  color: white;
  font-weight: bold;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar-xl {
  background-color: $light-green;
  color: $gray;
  font-weight: bold;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar-order {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(255,229,76,1) 100%);
  color: $gray;
  font-weight: bold;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  font-size: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
