.banner {
  display: flex;
  padding: 0px 150px 0px 150px;
  justify-content: center;
  align-items: center;
  background: $gradient-bg;

  .container {
    padding: 20vh 0 10vh 0;

    h1 {
      margin: 0;
      font-size: 32px;
      font-weight: bold;
    }

    #tagline {
      margin: 40px 0;
      font-size: 22px;
    }
  }

  &.user-banner {
    height: 20vh;
    position: relative;
    display: flex;
    align-items: flex-end;

    .container {
      padding: 40vh 0 10vh 0;

      &.dashboard-container {
        padding: 0px;
        margin-bottom: 2vh;
      }
    }
  }

  .banner-image {
    width: 40%;
  }
}

@media(min-width:901px){
  .container{
    width: 650px;
  }

  .banner{
    .btn-call-to-a {
      margin-left: 0px;
    }
  }
}

@media (max-width: 900px) {
  .banner {
    background: $mobile-gradient-bg;
    padding: 0px 10vw;

    &.user-banner {
      height: 24vh;
      .container {
        padding: 25vh 0 10vh 0;
      }
    }

    &.home-banner > .container{
      display: flex;
      flex-direction: column;
    }

    .btn-call-to-a{
      margin: auto;
      width: fit-content;
    }
   }


  .banner-image{
    display: none;
  }
}

@media (max-width: 600px) {
  .banner {
    &.user-banner {
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 14px;
      }
    }
   }
}

@media (max-width: 500px) {
  .banner {
    &.user-banner {
      height: 30vh;

      .container {
        padding: 44vh 0 10vh 0;
      }

      h1 {
        font-size: 28px;
      }
      p {
        font-size: 12px;
      }
    }
   }
}

@media (max-width: 400px) {
  .banner {
    padding: 0 20px;
  }
}
