// basic-white-card

.basic-white-card{
  display: flex;
  border: solid 1px $light-gray;
  border-radius: 8px;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px lightgrey;
}


// Order-dashboard-card

.order-dashboard-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px auto;
  box-shadow: 0px 0px 2px lightgrey;
  border: solid 1px lightgrey;
  border-radius: 8px;
  background: white;
  width: 70%;

  &:hover{
    // transform: scale(1.01);
    box-shadow: 0px 0px 4px lightgrey;
    transition: all ease .07s;
  }
}

.order-card-info{
  background-color: $super-light-gray ;
  width: 100%;

  p{
    padding-left: 20px;
  }
}

.order-card-content{
  position: relative;
  width: 100%;
  p{
    padding-left: 20px;
  }
  #details{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

// Order-account-card

.order-account-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  .order-account-card{
    background-color: white;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px lightgrey;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .order-account-status{
      font-size: 12px;
    }

    .account-name {
      margin: 0 auto;
      font-weight: bold;
    }
  }
}

// Home-infos cards

// ==== LIST FOR INFOS IN HOMEPAGE ==== //

.home-infos-list {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  min-height: 500px;
  position: relative;
  box-sizing: border-box;
  padding: 0;

  .home-infos-list-item {
    width: 50%;
    list-style: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.15);
    border-radius: 10px;
    background: white;
    padding: 20px;
    position: absolute;
    margin-left: 25%;
    margin-bottom: 2em;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
    top: 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    &:first-child {
      border: 1px solid $light-green;
    }

    &:nth-child(2) {
      border: 1px solid $yellow;
    }

    &:last-child {
      border: 1px solid $blue;
    }

    &.active {
      height: auto;
      opacity: 1;
      transform: translateX(0);
      z-index: 5;
    }

    &.next {
      opacity: 0.4;
      transform: translateX(105%);
      z-index: 0;
    }

    &.next-transparent {
      opacity: 0;
      transform: translateX(210%);
      z-index: 0;
    }

    &.prev {
      height: auto;
      opacity: 0.4;
      transform: translateX(-105%);
      z-index: 0;
    }

    &.prev-transparent {
      opacity: 0;
      transform: translateX(-210%);
      z-index: 0;
    }
  }

  .icon-infos {
    width: 110px;
    margin: 20px auto;
  }
}

@media (max-width: 900px) {
  .home-infos-list {
    min-height: 1000px;
  }
}


// Home-infos cards
.tarif-card-box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;

  .tarif-card-1{
    margin: 15px;
    padding: 30px;
    background: white;
    border: 3px solid $light-green;
    box-shadow: 0px 0px 4px lightgrey;
    border-radius: 8px;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 55vh;
    min-height: fit-content;
  }

  .tarif-card-2 {
    margin: 15px;
    padding: 30px;
    background: white;
    border: 3px solid $yellow;
    box-shadow: 0px 0px 4px lightgrey;
    border-radius: 8px;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 55vh;
    min-height: fit-content;
  }

  .tarif-card-3 {
    margin: 15px;
    padding: 30px;
    background: white;
    border: 3px solid $blue;
    box-shadow: 0px 0px 4px lightgrey;
    border-radius: 8px;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 55vh;
    min-height: fit-content;
  }

  .tarif-card-top{
    font-size: 22px;
    text-align: center;
    height: 30%;
  }
  .tarif-card-price{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
  }

  .tarif-card-description {
    text-align: justify;
    justify-content: flex-start;
    flex-grow: 1;
  }
}


// Help cards
.help-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .help-card {
    height: 50vh;
    border: solid 1px $light-gray;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 2px lightgrey;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 16px;
      height: 70px;
      margin-top: 25px;
    }

    p {
      font-size: 14px;
      font-style: italic;
      color: $gray;
    }

    &:hover {
      transform: scale(1.04);
      transition: all 0.4s ease;
    }
  }
}

@media (max-width: 900px) {
  .tarif-card-box {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;

    .tarif-card-1 {
      width: 100%;
    }

    .tarif-card-2 {
      width: 100%;
    }

    .tarif-card-3 {
      width: 100%;
    }
  }
}
