.container {
  width: 940px;
  margin: 0 auto;
  border: solid 1px red;
}

@media (max-width: 1440px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
