.dashboard-navigation {
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;

  div {
    &:first-child {
      padding-right: 20px;
      font-weight: bold;
      cursor: pointer;
    }

    &:last-child {
      padding-left: 20px;
    }
  }
}

.account-infos {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 30px;
  max-width: 100%;
  margin-bottom: 12px;
}

.account-infos-title {
  display: flex;
  align-items: center;

  .account-infos-title-name {
    font-size: 20px;
    font-weight: bold;
  }
}

.account-infos-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;

  .account-infos-description-address {
    font-size: 12px;
    font-style: italic;
  }
}

// User dashboard

.user-dashboard-grid{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 40px;
}

.user-dashboard-content{
  width: 100%;
  margin-top: 20px;

  h2 {
    margin-bottom: 50px;
  }
}

.user-dashboard-navigation{
  background-color: $super-light-gray;
  border-right: 1px solid $light-gray;

  .user-dashboard-navigation-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
  }
}

.personal-info{
  margin: 50px auto;
}

// Order dashboard
.order-dashboard-section {
  .order-documents-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .doc-name-align{
    display: flex;
    align-items: center;
  }

  .file-name{
    margin-left: 8px;
    font-size: 10px;
    text-overflow: ellipsis;
  }
}

@media (max-width: 900px) {
  .user-dashboard-grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
  }

  .user-dashboard-navigation{
    display: flex;
    align-items: center;
    border-right: none;

    .user-dashboard-navigation-top{
      flex-grow: 1;
      height: 100%;
      padding-left: 30px;

      p {
        margin: 0px;
      }
    }
  }

  .user-dashboard-navigation{
    p {
      font-size: 14px;
    }
  }

  .account-infos {
    font-size: 14px;
  }

  .error{
    height: inherit;
  }
}

@media (max-width: 700px) {
  .account-infos {
    height: 60vh;
  }

  .account-infos-description {
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  .order-documents-grid{
    grid-gap: 0px;
  }

  .insert-document{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    max-width: 35vw;
    height: 19vh !important;

    input{
      max-width: 60%;
    };

    p {
      font-size: smaller;
      margin-bottom: 8px;
    }

    .doc-input{
      margin-top: 2px;
    }
  }
}
