.dashboard-navigation{
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;

  .demarches{
    padding-right: 20px;
    cursor: pointer;
  }

  .dashboard-nav-right{
    padding-right: 20px;
  }
}
