.dashboard-navigation{
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;

  div {
    &:first-child {
      padding-right: 20px;
      font-weight: bold;
      cursor: pointer;
    }

    &:last-child {
      padding-left: 20px;
    }
  }
}

.account-infos {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 30px;
  max-width: 100%;
  height: 40vh;
  margin-bottom: 12px;
}

.account-infos-title {
  display: flex;
  align-items: center;

  .account-infos-title-name {
    font-size: 20px;
    font-weight: bold;
  }
}

.account-infos-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;

  .account-infos-description-address {
    font-size: 12px;
    font-style: italic;
  }
}

// User dashboard

.user-dashboard-grid{
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}

.user-dashboard-navigation{
  background-color: $off-white;
}

.tab {
  padding: 5px 0px 5px 10px;
  border-top: solid $light-gray 2px ;
  border-bottom: solid $light-gray 2px ;
}

.current-tab{
  background-color: $yellow;
  font-weight: bolder;
}

.other-tab:hover{
  cursor: pointer;
  background-color: white;
  // font-size: larger;
  font-weight: bolder;
  transition: all ease .07s;
}

.user-dashboard-content{
  padding-top: 30px;
}
