.dashboard-navigation {
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;

  div {
    &:first-child {
      padding-right: 20px;
      font-weight: bold;
      cursor: pointer;
    }

    &:last-child {
      padding-left: 20px;
    }
  }
}

.account-infos {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 30px;
  max-width: 100%;
  margin-bottom: 12px;
}

.account-infos-title {
  display: flex;
  align-items: center;

  .account-infos-title-name {
    font-size: 20px;
    font-weight: bold;
  }
}

.account-infos-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;

  .account-infos-description-address {
    font-size: 12px;
    font-style: italic;
  }
}

// User dashboard

.user-dashboard-grid{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 40px;
}

.user-dashboard-content{
  width: 100%;
  margin-top: 20px;

  h2 {
    margin-bottom: 50px;
  }
}

.user-dashboard-navigation{
  background-color: $super-light-gray;
  border-right: 1px solid $light-gray;

  .user-dashboard-navigation-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
  }
}

.personal-info{
  margin: 50px auto;
}

// Order dashboard
.order-documents-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;

  .doc-name-align{
    display: flex;
    align-items: center;
  }

  .file-name{
    margin-left: 8px;
    font-size: 10px;
    text-overflow: ellipsis;
  }
}

// Order Account dashboard
.account-title.order-account-title {
  display: flex;
  align-items: center;
  margin: 30px 0px;

  .account-avatar {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100%;
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;

    &.true {
      border: 2px solid $red;
    }
  }
}

.account-document-list {
  list-style-type: none;
  padding: 0px;

  .account-document-item {
    display: flex;
    align-items: center;
    margin: 30px 0px;

    &.false {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .account-document-type {
    margin-right: 10px;
    padding-left: 10px;
    border-left: 3px solid #8FCC9B;
    font-weight: bold;
  }
}

.order-steps-title {
  display: flex;
  align-items: flex-end;
}

.order-steps {
  width: 100%;
  height: 6px;
  background: $light-gray;
  margin: 50px 0px 150px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  .order-step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background: $light-gray;
    z-index: 1;


    &::before {
      content: "";
      display: block;
      z-index: 0;
      width: 220px;
      position: absolute;
      height: 6px;
      top: 35%;
      right: 18px;
      border-radius: 10px 0px 0px 10px;
    }

    &:first-child.active::before {
      width: 110px;
    }

    &.active {
      background: $yellow;

      &::before {
        background-color: $yellow;
      }
    }

    &.three-steps {
      &::before {
        width: 300px;
      }

      &:first-child.active::before {
        width: 150px;
      }
    }

    .order-step-title {
      position: absolute;
      font-size: 12px;
      font-weight: bold;
      width: 120px;
      top: 30px;
      left: -5px;
    }
  }
}

@media (max-width: 1440px) {
  .order-steps {
    .order-step {
      &::before {
        width: 212px;
      }

      &:first-child.active::before {
        width: 106px;
      }

      &.three-steps {
        &::before {
          width: 284px;
        }

        &:first-child.active::before {
          width: 142px;
        }
      }

      .order-step-title {
        font-size: 12px;
        width: 80px;
        top: 27px;
        left: -27px;
        text-align: center;
      }
    }
  }
}


@media (max-width: 900px) {
  .user-dashboard-grid{
    display: block;
  }

  .user-dashboard-navigation{
    display: flex;
    align-items: center;
    border-right: none;

    .user-dashboard-navigation-top{
      flex-grow: 1;
      height: 100%;
      padding-left: 30px;

      p {
        margin: 0px;
      }
    }
  }

  .user-dashboard-navigation{
    p {
      font-size: 14px;
    }
  }

  .account-infos {
    font-size: 14px;
  }

  .error{
    height: inherit;
  }

  .order-steps {
    .order-step {
      &::before {
        width: 110px;
      }

      &:first-child.active::before {
        width: 55px;
      }

      &.three-steps {
        &::before {
          width: 150px;
        }

        &:first-child.active::before {
          width: 75px;
        }
      }

      .order-step-title {
        width: 100px;
        top: 33px;
        left: -20px;
        font-weight: inherit;
      }
    }
  }
}

@media (max-width: 700px) {
  .account-infos {
    height: 60vh;
  }

  .account-infos-description {
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  .order-documents-grid{
    grid-gap: 5px;
  }

  .account-title.order-account-title h2 {
    font-size: 18px;
  }

  .order-steps {
    .order-step {
      &::before {
        width: 84px;
      }

      &:first-child.active::before {
        width: 42px;
      }

      &.three-steps {
        &::before {
          width: 116px;
        }

        &:first-child.active::before {
          width: 58px;
        }
      }

      .order-step-title {
        font-size: 12px;
        width: 80px;
        top: 27px;
        left: -27px;
        text-align: center;
      }
    }
  }

  .account-document-list {
    .account-document-item {
      flex-direction: column;
      align-items: flex-start;

      .account-document-type {
        font-size: 12px;
      }

      .account-document-filename {
        font-size: 12px;
      }
    }
  }
}
