.document-created-false{
  color: red;
  margin-left: 3px;
}

.document-created-true{
  color: green;
  margin-left: 3px;
}

.insert-document{
  // border: 1px solid lightgray;
  box-shadow: 0px 0px 2px lightgray;
  padding: 20px;
  margin: 20px auto;
}
