.flash {
  width: fit-content;
  margin: 20px;
  padding: 12px;
  position: sticky;
  bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close {
    margin-left: 20px;
    transform: rotate(45deg);
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .flash {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .flash {
    font-size: 12px;
  }
}

.alert {
  background: #fff09b;
  border: 2px solid $yellow;
}

.warning {
  background: #ff9b9b;
  border: 2px solid red;
}

.success {
  background: #b2ff9b;
  border: 2px solid green;
}
