.footer {
  background: $gradient-bg;
  display: flex;
  justify-content: center;

  .footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $footer-height;
    width: 100%;
    padding: 0px 50px;

    .site-list {
      list-style: none;
      margin: 0;
      font-size: 12px;
    }
    .logo{
      width: 100px;
    }

    .short-logo{
      margin: 0 auto;
    }

    .logo img, .short-logo img{
      height: calc(#{$footer-height}*0.5) ;
      margin: 0px;
    }

    .logo img, .short-logo a{
      height: calc(#{$footer-height}*0.5) ;
    }
  }
}
