.form-div{
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 4px lightgray;
  border-radius: 8px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 50px;
  width: 80%;

  form{
    margin-top: 50px;
  }

  .form-inputs{
    min-width: 80%;
    max-width: 100%;
    margin: 0px auto 20px auto;

    .form-inputs-block {
      margin-left: 40px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      label {
        width: 270px;
        text-align: left;
      }
    }

    .form-inputs-block-address {
      margin-left: 40px;
      margin-bottom: 40px;
      display: flex;
      align-items: flex-start;

      label {
        width: 270px;
        text-align: left;
        padding-top: 10px;
      }
    }
  }

  .form-inputs > .input{
    margin: 5px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-inputs > .user_remember_me{
    justify-content: center;
    margin-top: 20px;
  }

  #user_remember_me {
    margin-right: 10px;
  }

  .input > input {
    border: solid 1px lightgray;
    border-radius: 4px;
    width: 90%;
    padding: 10px;
    font-size: 18px;
  }

  .form-actions{
    margin-bottom: 20px;
  }

  .field_without_errors {
    width: 100%;
  }

  .field_with_errors{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .error{
    font-size: 12px;
    color: red;
    margin-bottom: 30px;
  }

  .show-password-devise{
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .input{
      width: 50%;
      margin-left: 20px;
    }

    .fa-solid{
      margin-right: 5px;
    }
  }

  @media (max-width: 900px) {
    .form-inputs > .input{
      width: 70%;
    }
    .input > input {
      font-size: 14px;
    }
    label.checkbox{
      font-size: 14px;
    }
    a {
      font-size: 14px;
    }
    .show-password-devise > .input{
      width: 70%;
      margin-left: 27px;
    }
  }

  @media (max-width: 500px) {
    .form-inputs > .input{
      width: 90%;
    }
    .input > input {
      font-size: 12px;
    }
    label.checkbox{
      font-size: 12px;
    }
    a {
      font-size: 12px;
    }
    .show-password-devise{
      justify-content: space-between;
      width: 90%;
    }
    .show-password-devise > .input{
      margin-left: 0px;
      flex-grow: 1;
    }
  }
}

@media (max-width: 900px) {
  .form-div{
    padding: 15px 25px;
  }
}

@media (max-width: 500px) {
  .form-div{
    padding: 10px 10px;
  }
}

// Style for address geocoder in edit form

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  border: solid 1px lightgray;
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-size: 18px;
}

.suggestions-wrapper {
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-size: 15px;

  .suggestions {
    list-style: none;
    text-align: left;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    li {
      padding: 5px 0;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

// Style for user edit password

.user_password {
  &.field_without_errors {
    width: initial;
  }
}

.user_password_confirmation {
  &.field_with_errors {
    width: initial;
    display: block;

    input {
      width: initial;
    }
  }

  .error {
    margin: 0;
    display: block;
    text-align: left;
  }
}
