.account-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  &.small {
    grid-template-columns: 1fr;
  }
}

.account_name {
  background-color: $light-gray;
  border: 0px solid white;
  border-bottom: 1px solid $gray;
  height: 20px;
  margin: 0 20px;
  &:focus {
    outline: none;
    border: 0px solid white;
    border-bottom: 1px solid $gray;
  }
}

.account-other-button{
  text-align: center;
  cursor: pointer;
  width: 70%;
  height: 20px;
  padding: 10px;
  margin: 20px;
  border: 2px solid $light-green;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 4px lightgray;
    transition: all .07s ease;
  }

  &.active{
    background-color: $light-green;
    border: 2px solid $green;
  }
}

.account-radio-button{
  text-align: center;
  width: 100%;

  input{
    position: absolute;
    transform: scale(0);
  }

  input + .account-radio-button-text{
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    width: 70%;
    height: 20px;
    padding: 10px;
    margin: 20px;
    border: 2px solid $light-green;
    border-radius: 5px;
    display: inline-block;
    font-size: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .account-radio-button-text:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 4px lightgray;
    transition: all .07s ease;
  }

  input:checked.active + .account-radio-button-text{
    background-color: $light-green;
    border: 2px solid $green;
  }
}

.box {
  border: solid lightgrey 1px;
  box-shadow: 0px 0px 2px lightgray;
  border-radius: 8px;
  padding: 10px;

  h3 {
    width: fit-content;
  }
}

.account-box {
  width: 85%;
  height: 80vh;
  overflow-y: scroll;
}

.doc-input{
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
  border: solid 2px $light-green;
}

.edit_order{

  .document-name {
    font-weight: bold;
    margin-bottom: 30px;
    width: fit-content;
  }

  .order_order_documents_document_file{
    display: flex;
    flex-direction: column;
  }

  .label-document-input-selected{
    background-color: $light-green;
  }

  .label-document-input-wrong-format{
    background-color: $orange;
    border-color: $gray;
    color: white;
  }

  .document-btn-and-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .file-name {
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
    flex-grow: 1;
  }
}

.form-order-content{
  padding: 32px 32px 0px 32px;
}

.form-name-div {
  margin-left: 40px;
  margin-bottom: 40px;

  input {
    padding: 0 10px;
  }

  .form-name-input {
    margin: 10px 0 20px 20px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid $green;
  }

  label {
    display: inline-block;
    font-weight: bold;
    width: 175px;
  }

  .input.text {
    .form-name-input-text {
      margin: 10px auto 20px auto;
      height: 500px;
      width: 75%;
      border-radius: 10px;
      border: 1px solid $green;
      padding: 20px;
      font-family: 'Montserrat', sans-serif;
    }

    label {
      margin-top: 50px;
      display: block;
      font-weight: bold;
      width: 175px;
    }
  }
}

.form-order-div {
  overflow-y:scroll;
  background: white;
  max-width: 100%;
  border: solid 2px $super-light-green;
  border-bottom-width: 3px;
  .error{
    font-size: 12px;
    color: red;
    margin-left: 15px;
  }

  .error_notification{
    color: red;
    margin-bottom: 30px;
  }

  .mobile-steps {
    display: none;
  }

  .mobile-step-title {
    display: none;
  }
}

.form-order-infos {
  background: $second-gradient-bg;
  padding: 20px 0px 30px 32px;

  text-align: center;

  .logo {
    display: none;
  }
}

.form-order-right{
  overflow: hidden;
  height: 100vh;

  .form-order-right-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;

    .logo {
      padding-top: 20px;
    }

    h3 {
      text-align: left;
      margin-top: 50px;
    }
  }

  #account-list {
    margin-top: 20px;
    width: 100%;
  }

  p{
    text-align: center;
    padding: 10px;
    margin-bottom: 20%;
  }

  .flower-pot{
    flex-grow: 1;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.form-order-steps {
  position: relative;
  background-color: #fbfbfb;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .logo {
    width: 100%;
    text-align: center;
    display: none;
  }
}

.form-subcategory{
  text-align: left;

  .hidden {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
  }
}

.hidden-document-input{
  // Ne pas retirer, c'est pour masquer l'input simple form de base sans le as: :hidden
  display: none;
}

.insert-document{
  box-shadow: 0px 0px 2px lightgray;
  padding: 20px;
  margin: 20px auto;

  &.modal-update {
    ::-webkit-file-upload-button {
      cursor: pointer;
      padding: 10px 30px;
      border: 2px solid $light-green;
      border-radius: 5px;
      width: fit-content;
      margin-top: 10px;
      background-color: white;

      &:hover{
        transform: scale(0.97);
        box-shadow: 0px 0px 4px lightgray;
        transition: all .07s ease;
      }
    }
  }
}

.main-order-divs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.other-account {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 20px;
}

.order-parts {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  height: 100vh;
}

.subcategory-div {
  margin-bottom: 10px;

  .subcategory-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    cursor: pointer;

    h4 {
      flex-grow: 1;
      margin-left: 25px;
    }
  }

  .subcategory-accounts {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.active {
      opacity: 1;
      height: auto;
    }
  }
}


// ======= Media Queries ======= //


@media (max-width: 1200px) {
  .account-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .account-other-button{
    font-size: 14px;

    &:hover {
      transform: scale(1)
    }
  }

  .account-radio-button{
    input + .account-radio-button-text {
      font-size: 14px;

      &:hover {
        transform: scale(1)
      }
    }

  }

  .form-name-div{
    .input {
      margin-bottom: 25px;
    }
  }

  .form-order-steps {
    display: none;
  }

  .form-order-div {
    .form-order-infos {
      .mobile-steps {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
      }

      .mobile-step-title {
        display: block;
        font-weight: bold;
        font-size: 20px;
        margin: 6vh;
      }

      h1 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .form-order-right {
    h3 {
      font-size: 14px;
    }

    .account-box {
      width: 78%;
    }
  }

  .form-subcategory{
    text-align: center;
  }

  .main-order-divs {
    grid-template-columns: 1fr;
  }

  .order-divs {
    margin: 0px;
    margin-bottom: 20px;
  }

  .other-account{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    input{
      margin-bottom: 20px;
    }

    .account_name {
      margin: 20px 0;
    }
  }

  .order-parts {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 700px) {
  .account-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .document-name {
    margin: 0px auto 30px auto;
  }

  .edit_order{
    .document-btn-and-name{
      justify-content: space-around;
      flex-direction: column;

      .file-name {
        height: 50px;
        display: flex;
        align-items: center;
      }
    }
  }

  .form-order-infos {
    .logo {
      display: block;
    }
  }

  .order-parts {
    grid-template-columns: 1fr;
  }

  .form-order-div .form-order-infos .mobile-step-title {
    font-size: 16px;
  }

  .form-order-right {
    display: none;
  }
}

@media (max-width: 500px) {
  .account-other-button{
    width: 80%;
    margin: 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .account-radio-button{
    input + .account-radio-button-text {
      width: 80%;
      margin: 5px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .doc-input {
    margin-top: 20px;
  }

  .file-name {
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    flex-grow: 1;
  }

  .form-name-div{
    margin: 10px 5px;

    .input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
    }

    .form-name-input {
      margin: 10px auto;
      width: 200px;
    }
  }

  .form-order-infos {
    padding: 10px;
  }

  .form-subcategory{
    text-align: center;
  }

  .label-document-input {
    margin-left: 0px;
  }
}
