//////////////// ORDER CREATION

.order-parts {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
}

.form-order-steps {
  position: sticky;
  background-color: #fbfbfb;
}

.form-order-div {
  overflow-y: scroll;
  background: white;
  max-width: 100%;
  border: solid 2px $light-green;
  border-bottom-width: 3px;
  .error{
    font-size: 12px;
    color: red;
    margin-left: 15px;
  }

  .error_notification{
    color: red;
    margin-bottom: 30px;
  }

}

.form-order-infos {
  background-color: $light-green;
  padding: 20px 0px 30px 32px;
}

.form-order-content{
  padding: 32px 32px 0px 32px;
}

.form-name-div {
  margin-left: 40px;
  margin-bottom: 40px;

  input {
    padding: 0 10px;
  }

  .form-name-input {
    // position: absolute;
    // left: 300px;
    margin: 10px 0 20px 20px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid $green;
  }

  label {
    display: inline-block;
    font-weight: bold;
    width: 175px;
  }

  .input.text {
    .form-name-input-text {
      margin: 10px auto 20px auto;
      height: 500px;
      width: 75%;
      border-radius: 10px;
      border: 1px solid $green;
      padding: 20px;
      font-family: 'Montserrat', sans-serif;
    }

    label {
      margin-top: 50px;
      display: block;
      font-weight: bold;
      width: 175px;
    }
  }
}

.main-order-divs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.box {
  border: solid lightgrey 1px;
  box-shadow: 0px 0px 2px lightgray;
  border-radius: 8px;
  padding-left: 10px;

  h3 {
    width: fit-content;
  }
}

.subcategory-div {
  margin-bottom: 10px;

  .subcategory-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    cursor: pointer;

    h4 {
      flex-grow: 1;
      margin-left: 25px;
    }
  }

  .subcategory-accounts {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.active {
      opacity: 1;
      height: auto;
    }
  }
}

.form-subcategory{
  text-align: left;

  .hidden {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
  }
}

.account-radio-button{

  input{
    position: absolute;
    transform: scale(0);
  }

  input + .account-radio-button-text{
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    width: 140px;
    height: 20px;
    padding: 10px;
    margin: 20px;
    border: 2px solid $light-green;
    border-radius: 5px;
    display: inline-block;
    font-size: 90%;
  }

  .account-radio-button-text:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 4px lightgray;
    transition: all .07s ease;
  }

  input:checked.active + .account-radio-button-text{
    background-color: $light-green;
    border: 2px solid $green;
  }
}

@media (max-width: 500px) {
  .account-radio-button{
    input + .account-radio-button-text{
      width: 90%;
      margin: 5px;
    }
  }
}

.account-other-button{
  text-align: center;
  cursor: pointer;
  width: 140px;
  height: 20px;
  padding: 10px;
  margin: 20px;
  border: 2px solid $light-green;
  border-radius: 5px;
  display: inline-block;

  &:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 4px lightgray;
    transition: all .07s ease;
  }

  &.active{
    background-color: $light-green;
    border: 2px solid $green;
  }
}

@media (max-width: 500px) {
  .account-other-button{
    width: 90%;
    margin: 5px;
  }
}

.other-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 25px;
}

.account_name {
  background-color: $light-gray;
  border: 0px solid white;
  border-bottom: 1px solid $gray;
  height: 20px;
  margin-left: 20px;
  &:focus {
    outline: none;
    border: 0px solid white;
    border-bottom: 1px solid $gray;
  }
}

@media (max-width: 900px) {
  .form-name-div{
    .input {
      margin-bottom: 25px;
    }
  }

  .main-order-divs {
    flex-direction: column;
    align-items: center;
  }

  .order-divs {
    margin: 0px;
    margin-bottom: 20px;
  }

  .other-account{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    input{
      margin-bottom: 20px;
    }

    .account_name {
      margin: 20px 0;
    }
  }

  .account-radio-button{
    input + .account-radio-button-text {
      width: 90px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .account-other-button{
    width: 90px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-subcategory{
    text-align: center;
  }
}

@media (max-width: 500px) {

  .form-order-div {
    text-align: center;
    padding: 20px 5px;
  }

  .form-name-div{
    margin: 10px 5px;

    .input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
    }

    .form-name-input {
      margin: 10px auto;
      width: 200px;
    }
  }

  .order-divs {
    margin: 5px 0 10px 0;
    width: 90%;
    border: 0px solid white;
    border-top: solid lightgrey 1px;
    box-shadow: 0px 0px 0px lightgray;
    border-radius: 0px;
  }

  .account-radio-button{
    input + .account-radio-button-text {
      width: 90px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .account-other-button{
    width: 90px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-subcategory{
    text-align: center;
  }
}

//////////// ORDER EDIT : ADD DOCUMENTS

.insert-document{
  box-shadow: 0px 0px 2px lightgray;
  padding: 20px;
  margin: 20px auto;
}


.edit_order{

  .document-name {
    font-weight: bold;
    margin-bottom: 30px;
    width: fit-content;
  }

  .order_order_documents_document_file{
    display: flex;
    flex-direction: column;
  }

  .label-document-input-selected{
    background-color: $light-green;
  }

  .label-document-input-wrong-format{
    background-color: $orange;
    border-color: $gray;
    color: white;
  }

  .document-btn-and-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .file-name {
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
    flex-grow: 1;
  }
}

.hidden-document-input{
  // Ne pas retirer, c'est pour masquer l'input simple form de base sans le as: :hidden
  display: none;
}

@media (max-width: 500px) {
  .label-document-input {
    margin-left: 50px;
  }

  .file-name {
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    flex-grow: 1;
  }
}

.doc-input{
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
  border: solid 2px $light-green;
}

.form-order-right{
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    text-align: center;
    padding: 10px;
    margin-bottom: 20%;
  }

  .flower-pot{
    flex-grow: 1;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
