.form-div{
  position: relative;
  text-align: center;
  height: 100vh;
  margin-left: 40%;
  background: $off-white;

  form{
    margin-top: 50px;
  }

  .form-text{
    position: absolute;
    width: 100%;
    top: 15%;
  }

  .form-inputs{
    min-width: 80%;
    max-width: 100%;
    margin: 0px auto 20px auto;

    .form-inputs-block {
      margin-left: 40px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      label {
        width: 270px;
        text-align: left;
      }

      .input {
        width: 100%;
      }
    }

    .form-inputs-block-address {
      margin-left: 40px;
      margin-bottom: 40px;
      display: flex;
      align-items: flex-start;

      label {
        width: 270px;
        text-align: left;
        padding-top: 10px;
      }

      .input {
        width: 90%;
      }

      input.filled {
        &::placeholder {
          color: black;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: black;
        }

        &::-ms-input-placeholder {
          color: black;
        }
      }
    }
  }

  .form-inputs > .input{
    margin: 5px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-inputs > .user_remember_me{
    justify-content: center;
    margin-top: 20px;
  }

  #user_remember_me {
    margin-right: 10px;
  }

  .input > input {
    border: solid 1px lightgray;
    border-radius: 4px;
    width: 90%;
    padding: 10px;
    font-size: 18px;
  }

  .form-actions{
    margin-bottom: 20px;
  }

  .field_without_errors {
    width: 100%;
  }

  .field_with_errors{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .show-password-devise{
    margin: 5px auto;
    width: 50%;
    position: relative;

    .input > input {
      border: solid 1px lightgray;
      border-radius: 4px;
      width: 100%;
      padding: 10px;
      font-size: 18px;
    }

    .input{
      width: 90%;
    }

    .fa-solid{
      margin-right: 5px;
    }

    .field_with_errors {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &.doubled-form {
    height: fit-content;
    padding: 60px;
  }
}

.devise-link:hover {
  font-weight: bold;
}

// Style for address geocoder in edit form

.autocomplete-div {
  width: 50%;
  margin: 5px auto;
}

.mapboxgl-ctrl-geocoder {
  width: 90%;
  position: relative;

  input.filled {
    &::placeholder {
      color: black;
      opacity: 1;
    }
  }
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  border: solid 1px lightgray;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  position: relative;
  z-index: 2;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.suggestions-wrapper {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  position: absolute;
  z-index: 1;
  background: white;
  border: 1px solid lightgray;
  top: 18px;

  .suggestions {
    list-style: none;
    text-align: left;

    li {
      padding: 5px 0;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 900px) {
  .form-div{
    .form-inputs {
      .form-inputs-block, .form-inputs-block-address {
        label {
          width: 170px;
          text-align: left;
        }
      }
    }

    .form-text{
      position: absolute;
      width: 100%;
      top: 25%;
    }
  }

  .form-inputs > .input{
    width: 70%;
  }

  .show-password-devise > .input{
    width: 90%;
  }
}

@media (max-width: 700px) {
  .form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 60vw;
    height: fit-content;

    .form-inputs > .input {
      width: 85%;
    }

    .show-password-devise {
      width: 85%;
    }
    .form-text{
      margin-top: 20%;
      box-shadow: 0px 0px 4px lightgray;
      border-radius: 8px;
      background: $off-white;
      width: 100%;
      text-align: center;
      padding: 20px;
    }
    .autocomplete-div{
      width: 85%;
    }
  }
}

@media (max-width: 500px) {
  .form-inputs > .input {
    width: 90%;
  }
  .input > input {
    font-size: 12px;
  }
  label.checkbox{
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
  .show-password-devise{
    justify-content: space-between;
    width: 90%;
  }
  .show-password-devise > .input{
    margin-left: 0px;
    flex-grow: 1;
  }

  .form-div{
    width: 70vw;
  }
}
