//////////////// ORDER CREATION

.form-order-div {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
  padding: 50px 30px;
  max-width: 100%;
  margin-bottom: 50px;
  .error{
    font-size: 12px;
    color: red;
    margin-left: 15px;
  }

  .error_notification{
    color: red;
    margin-bottom: 30px;
  }

}

.form-order-infos {
  margin-bottom: 80px;
}

.form-name-div {
  margin-left: 40px;
  margin-bottom: 40px;

  input {
    padding: 0 10px;
  }
  .form-name-input {
    // position: absolute;
    // left: 300px;
    margin: 10px 0 20px 20px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid $green;
  }

  label {
    display: inline-block;
    font-weight: bold;
    width: 175px;
  }

  .input.text {
    .form-name-input-text {
      margin: 10px auto 20px auto;
      height: 500px;
      width: 75%;
      border-radius: 10px;
      border: 1px solid $green;
    }

    label {
      margin-top: 50px;
      display: block;
      font-weight: bold;
      width: 175px;
    }
  }
}

.main-order-divs {
  display: flex;
}

.order-divs {
  border: solid lightgrey 1px;
  box-shadow: 0px 0px 2px lightgray;
  padding: 5px 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 90%;

  h3 {
    width: fit-content;
  }
}

.form-subcategory{
  text-align: left;
}

.account-radio-button{

  input{
    position: absolute;
    transform: scale(0);
  }

  input + .account-radio-button-text{
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    width: 180px;
    height: 20px;
    padding: 10px;
    margin: 20px;
    border: 2px solid $light-green;
    border-radius: 5px;
    display: inline-block;
  }

  .account-radio-button-text:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 4px lightgray;
    transition: all .07s ease;
  }

  input:checked + .account-radio-button-text{
    background-color: $light-green;
    border: 2px solid $green;
  }
}

.account-other-button{
  text-align: center;
  cursor: pointer;
  width: 180px;
  height: 20px;
  padding: 10px;
  margin: 20px;
  border: 2px solid $light-green;
  border-radius: 5px;
  display: inline-block;

  &:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 4px lightgray;
    transition: all .07s ease;
  }

  &.active{
    background-color: $light-green;
    border: 2px solid $green;
  }
}

.other-account {
  margin-top: 30px;
  margin-left: 21px;
}

[id^="order_order_accounts_attributes"] {
  border: 0px solid white;
  border-bottom: 1px solid $gray;
  height: 20px;
  margin-left: 20px;
  &:focus {
    outline: none;
    border: 0px solid white;
    border-bottom: 1px solid $gray;
  }
}

@media (max-width: 900px) {
  .form-name-div{
    .input {
      margin-bottom: 25px;
    }
  }

  .main-order-divs {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {

  .form-order-div {
    text-align: center;
    padding: 20px 5px;
  }

  .form-name-div{
    margin: 10px 5px;

    .input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
    }

    .form-name-input {
      margin: 10px auto;
      width: 200px;
    }
  }

  .order-divs {
    margin: 5px 0 10px 0;
    width: 90%;
    border: 0px solid white;
    border-top: solid lightgrey 1px;
    box-shadow: 0px 0px 0px lightgray;
    border-radius: 0px;
  }

  .account-radio-button{
    input + .account-radio-button-text {
      width: 90px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .account-other-button{
    width: 90px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-subcategory{
    text-align: center;
  }
}

//////////// ORDER EDIT : ADD DOCUMENTS

.insert-document{
  box-shadow: 0px 0px 2px lightgray;
  padding: 20px;
  margin: 20px auto;
}


.edit_order{

  .document-name {
    font-weight: bold;
    margin-bottom: 30px;
    width: fit-content;
  }

  .order_order_documents_document_file{
    display: flex;
    flex-direction: column;
  }

  .hidden-document-input{
    // Ne pas retirer, c'est pour masquer l'input simple form de base sans le as: :hidden
    display: none;
  }

  .label-document-input{
    cursor: pointer;
    padding: 10px 30px;
    border: 2px solid $light-green;
    border-radius: 5px;
    width: fit-content;
    margin-top: 10px;
  }

  .label-document-input-selected{
    background-color: $light-green;
  }

  .document-btn-and-name{
    width: 40%;
    display: flex;
    align-items: center;
  }

  .file-name {
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .label-document-input {
    margin-left: 50px;
  }

  .file-name {
    margin-left: 5px;
    font-size: 12px;
  }
}
