.login-image{
  width: 30%;
  position: absolute;
  bottom: 218px;
  left: 44px;
}

.login-image.view-bottom{
  position: fixed;
}

.order-steps-img {
  width: 150px;
  margin: 20px;
  transform: rotateY(180deg);
}

@media(max-width: 700px){
  .login-image{
    display: none;
  }
}
