// ==== LIST FOR RECAP ==== //

.order-div-list-style-type {
  background-color: $light-green;
  font-weight: bold;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-div-list-style-type-non-validated {
  background-color: $orange;
  font-weight: bold;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-div-item {
  list-style-type: none;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.order-div-item-non-validated {
  font-size: 12px;
  color: orange;
  font-style: italic;
  margin-left: 10px;
}

// ==== LIST FOR ORDER CREATION STEPS (PARTIAL) ==== //

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}

@media (max-width: 500px) {
  .steps {
    padding: 30px;
  }
}

@media (max-width: 400px) {
  .steps {
    padding: 10px;
  }
}

.step {
  color: $light-green;
}

.current-step {
  color: $green;
  font-weight: bold;
}

// ==== LIST FOR INFOS IN HOMEPAGE ==== //

.home-infos-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 700px;
  padding: 0;
  margin-bottom: calc(100vh - 160px - #{$footer-height} - 308px);

  .home-infos-list-item {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    padding: 20px;
    position: sticky;
    top: 160px;
  }
  .first-item { grid-area: 1 / 1 / 2 / 3; }
  .second-item { grid-area: 2 / 2 / 3 / 4; }
  .third-item { grid-area: 3 / 3 / 4 / 5; }
}

.slide-in {
  opacity: 0;
  transition: all .5s;
  transform: translateY(-30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
