// Les classes qu'on peut être ammenés à ajouter on the fly sur les composants html

.display-none {
  display: none !important;
}

// // // // // //  Margins

// No
.no-margin {
  margin: 0 !important;
}

// All around
.margin-one {
  margin: $level-one !important;
}
.margin-two {
  margin: $level-two !important;
}
.margin-three {
  margin: $level-three !important;
}
.margin-four {
  margin: $level-four !important;
}
.margin-five {
  margin: $level-five !important;
}

// Top
.margin-top-zero{
  margin-top: 0px;
}
.margin-top-one {
  margin-top: $level-one !important;
}
.margin-top-two {
  margin-top: $level-two !important;
}
.margin-top-three {
  margin-top: $level-three !important;
}
.margin-top-four {
  margin-top: $level-four !important;
}
.margin-top-five {
  margin-top: $level-five !important;
}

// Right
.margin-right-one {
  margin-right: $level-one !important;
}
.margin-right-two {
  margin-right: $level-two !important;
}
.margin-right-three {
  margin-right: $level-three !important;
}
.margin-right-four {
  margin-right: $level-four !important;
}
.margin-right-five {
  margin-right: $level-five !important;
}

// Bottom
.margin-bottom-zero {
  margin-bottom: 0px !important;
}
.margin-bottom-one {
  margin-bottom: $level-one !important;
}
.margin-bottom-two {
  margin-bottom: $level-two !important;
}
.margin-bottom-three {
  margin-bottom: $level-three !important;
}
.margin-bottom-four {
  margin-bottom: $level-four !important;
}
.margin-bottom-five {
  margin-bottom: $level-five !important;
}

// Left
.margin-left-zero {
  margin-left: none !important;
}
.margin-left-one {
  margin-left: $level-one !important;
}
.margin-left-two {
  margin-left: $level-two !important;
}
.margin-left-three {
  margin-left: $level-three !important;
}
.margin-left-four {
  margin-left: $level-four !important;
}
.margin-left-five {
  margin-left: $level-five !important;
}


// // // // // //  Paddings

// No
.no-padding {
  padding: 0 !important;
}

// All around
.padding-one {
  padding: $level-one !important;
}
.padding-two {
  padding: $level-two !important;
}
.padding-three {
  padding: $level-three !important;
}
.padding-four {
  padding: $level-four !important;
}
.padding-five {
  padding: $level-five !important;
}

// Top
.padding-top-zero {
  padding-top: 0px !important;
}
.padding-top-one {
  padding-top: $level-one !important;
}
.padding-top-two {
  padding-top: $level-two !important;
}
.padding-top-three {
  padding-top: $level-three !important;
}
.padding-top-four {
  padding-top: $level-four !important;
}
.padding-top-five {
  padding-top: $level-five !important;
}
.padding-top-fifty {
  padding-top: 50px !important;
}

// Right
.padding-right-one {
  padding-right: $level-one !important;
}
.padding-right-two {
  padding-right: $level-two !important;
}
.padding-right-three {
  padding-right: $level-three !important;
}
.padding-right-four {
  padding-right: $level-four !important;
}
.padding-right-five {
  padding-right: $level-five !important;
}

// Bottom
.padding-bottom-zero {
  padding-bottom: 0px !important;
}
.padding-bottom-one {
  padding-bottom: $level-one !important;
}
.padding-bottom-two {
  padding-bottom: $level-two !important;
}
.padding-bottom-three {
  padding-bottom: $level-three !important;
}
.padding-bottom-four {
  padding-bottom: $level-four !important;
}
.padding-bottom-five {
  padding-bottom: $level-five !important;
}

// Left
.padding-left-one {
  padding-left: $level-one !important;
}
.padding-left-two {
  padding-left: $level-two !important;
}
.padding-left-three {
  padding-left: $level-three !important;
}
.padding-left-four {
  padding-left: $level-four !important;
}
.padding-left-five {
  padding-left: $level-five !important;
}

// // // // // Text

.bold{
  font-weight: bold !important;
}

.italic {
  font-style: italic !important;
}

.sm-italic {
  font-style: italic !important;
  font-size: 12px !important;
}

.unbold {
  font-weight: normal !important;
}

.color-green {
  color: $green !important;
}

.background-green {
  background-color: $green !important;
}

.link {
  cursor: pointer;

  &:hover {
    color: $blue !important;
    text-decoration: underline !important;
  }
}


// Overflow
.scroll-y{
  overflow-y: scroll !important;
}

//Alignments
.align-center {
  text-align: center !important;
}

.align-start {
  text-align: start !important;
}

.disabled {
  color: $light-gray !important;
  cursor: initial !important;
}

.underline {
  text-decoration: underline !important;
}

.d-flex{
  display: flex !important;
}

.d-inline-block{
  display: inline-block !important;
}

.d-block{
  display: block !important;
}

.flex-column{
  flex-direction: column;
}

.justify-content-center{
  justify-content: center !important;
}

.justify-content-space-between{
  justify-content: space-between !important;
}

.align-items-center{
  align-items: center !important;
}

.align-items-flex-end{
  align-items: flex-end !important;
}

.centered {
  margin: 0 auto !important;
}

//Height
.height-100{
  height: 100%;
}


// Width
.fit-content{
  width: fit-content !important;
}

// Font sizes
.font-size-larger{
  font-size: larger !important;
}

.font-size-smaller{
  font-size: smaller !important;
}

// Position
.foreground {
  z-index: 20 !important;
}
.background {
  z-index: -1 !important;
}

.position-fixed{
  position: fixed !important;
}

.position-absolute{
  position: absolute !important;
}

.position-sticky{
  position: sticky !important;
}



// Background
.gradient-bg {
  background: $gradient-bg !important;
}

@media (max-width: 700px) {
  .gradient-bg {
    background: $second-gradient-bg !important;
  }
}


// colors

.light-green{
  color: $light-green;
}
