.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: white;
  margin: 15vh auto;
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .account-title {
    display: flex;
    align-items: center;
    flex-direction: column;

    .account-avatar {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 100%;
      color: white;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      &.true {
        border: 2px solid $red;
      }
    }

    .account-name {
      font-weight: bold;
    }
  }

  .document-name {
    margin-top: 20px;
  }

  .modal-content-documents {
    flex-grow: 1;
    width: 100%;

    .form-order-div {
      border: none;
      width: 75%;
      background: transparent;
      margin: 20px auto;
    }
  }
}

.close {
  transform: rotate(45deg);
  color: white;
  position: absolute;
  top: 8vh;
  right: 10vw;
  font-size: 45px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 900px) {
}

@media (max-width: 500px) {
  .modal{
    .insert-document {
      max-width: 28vw;

      input{
        width: 70%;
      }

      .label-document-input{
        width: 40% !important;
        text-align: center;
        font-size: smaller;
      }
    }
  }
}
