.navbar {
  background: white;
  height: $navbar-height;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;

  &.home-navbar {
    background: transparent;
    width: 90%;
    position: fixed;
    top: 0;
  }

  &.white-bg {
    background: white;
    box-shadow: 0px 2px 6px grey;
  }

  &.help-navbar {
    background: $gradient-bg;
    height: 200px;
    justify-content: center;

    .help-logo {
      img {
        height: 120px;
      }
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 0 20px;

    &.help-navbar {
      background: $mobile-gradient-bg;
    }
  }
}

.logo img {
  height: 40px;
}

.nav-items {
  height: $navbar-height;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    width: fit-content;

    &:hover {
      border-bottom: 2px solid $gray;
      color: black;
    }
  }

  .nav-item {
    height: 100%;
    list-style: none;
    padding: 0px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#user{
  position: relative;
}

.navbar-dropdown{
  visibility: hidden;
  opacity: 0;
  transition: all ease .3s;
  position: absolute;
  top: 86px;
  right: 29px;
  width: 200px;
  padding: 0;
  text-align: center;
  background-color:rgb(241, 243, 240);
  border-radius: 8px;
  font-size: 12px;
  list-style: none;

  li {
    padding: 25px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }

    i {
      color: $gray;
    }
  }

  a {
    padding-bottom: 0px;

    &:hover{
      border-bottom: 0px solid $gray;
      color: black;
      font-weight: bold;
      transition: all ease .07s;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    right: 1.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: rgb(241, 243, 240);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  }

  button {
    width: 100%;
  }

}

.navbar-dropdown-visible{
  visibility: visible;
  opacity: 1;
}

// ===== HAMBURGER MENU ===== //

.hamburger {
  i {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.toggle-nav-items {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  list-style: none;
  background: linear-gradient(rgba(156, 202, 159, 1), rgba(156, 202, 159, 1));
  border: 1px solid black;
}

.toggle-nav-item {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 80px;
  cursor: pointer;

  button {
    background: inherit;
    border-radius: inherit;
    font-weight: bold;
    color: $gray;
  }
}

@media (max-width: 900px) {
  .toggle-nav-item {
    a {
      font-size: 26px;
    }
  }
}
