#service, #home-infos {
  padding: 100px 0px;
  text-align: center;
  background-color: $off-white;
}

#function {
  padding: 100px 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#user-orders, #user-infos {
  margin-bottom: 100px;
}

@media (max-width: 500px) {
  #function {
    padding: 50px 0px 100px 0px;
  }
}
