.help{
  padding: 10px;
  font-size: 12px;
  font-style: italic;
  color: $gray;
}

.help-title {
  display: flex;
  align-items: center;
  margin-top: 10vh;

  img {
    height: 80px;
    margin-right: 40px;
  }

  h1 {
    font-size: 24px;
  }
}

.help-text {
  margin-bottom: 10vh;

  p {
    margin: 6vh auto;
    text-align: justify;
  }

  ul {
    li {
      margin-bottom: 6vh;
      text-align: justify;
    }
  }
}

.help-summary {
  margin: 10vh 0px;
  list-style-type: disclosure-closed;
  padding: 0px;

  li {
    padding: 15px;
    margin-left: 50px;
  }
}

.home-title {
  &::after {
    content: "";
    display: block;
    width: 75px;
    margin: 15px auto;
    border-bottom: 3px solid #8FCC9B;
  }
}

.home-subtitle {
  text-align: center;
  font-size: 16px;

  &::after {
    content: "";
    display: block;
    width: 50px;
    margin: 10px auto;
    border-bottom: 3px solid #8FCC9B;
  }
}

.dashboard-title {
  padding-left: 10px;
  border-left: 3px solid #8FCC9B;
}

@media (max-width: 500px) {
  .dashboard-title {
    font-size: 20px;
  }
}
