.timeline {
  height: 2px;
  width: 100%;
  background: $light-gray;
  position: relative;
  margin: 50px 0;
}

.timeline-legend {
  width: 50%;
  height: 0;
  position: absolute;
  margin-left: 25%;
  padding: 1.5em;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease, height 0.3s ease;
  bottom: 0;
  opacity: 0;
  font-weight: bold;
  font-size: 26px;
  text-align: center;

  &:first-child {
    color: $light-green;
    border-bottom: 4px solid $light-green;
  }

  &:nth-child(2) {
    color: $yellow;
    border-bottom: 4px solid $yellow;
  }

  &:last-child {
    color: $blue;
    border-bottom: 4px solid $blue;
  }

  &.active {
    height: auto;
    opacity: 1;
    transform: translateX(20px);
    z-index: 5;
  }

  &.next {
    height: auto;
    opacity: 0.4;
    transform: translateX(114%);
    z-index: 0;
    text-align: left;
    padding-left: 70px;
  }

  &.next-transparent {
    opacity: 0;
    transform: translateX(210%);
    z-index: 0;
  }

  &.prev {
    height: auto;
    opacity: 0.4;
    transform: translateX(-105%);
    z-index: 0;
  }

  &.prev-transparent {
    opacity: 0;
    transform: translateX(-210%);
    z-index: 0;
  }
}

.timeline-checkpoint {
  background: white;
  box-sizing: border-box;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  transition: all 0.3s ease;

  &:first-child {
    border: 4px solid $light-green;
    right: 50%;
    display: none;

    &.active {
      background: $light-green;
      display: block;
    }

    &.prev {
      display: block;
    }

    &.next {
      display: block;
    }
  }

  &:nth-child(2) {
    border: 4px solid $yellow;
    left: 90%;

    &.active {
      background: $yellow;
    }
  }

  &:last-child {
    border: 4px solid $blue;
    right: -30%;
    display: none;

    &.active {
      background: $blue;
      display: block;
    }

    &.prev {
      display: block;
    }

    &.next {
      display: block;
    }
  }

  &.active {
    left: 50%;
  }

  &.prev {
    left: 10%;
  }

  &.next {
    right: 10%;
  }

}
