<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap');

      a {
        color: inherit;
        font-weight: bold;
      }

      body {
        font-family: 'Montserrat', sans-serif;
      }

      img {
        background-color: #8FCC9B;
        padding: 10px 30px;
      }

      .welcome {
        text-align: center;
        margin-bottom: 50px;
      }

      .margin {
        margin-top: 50px;
      }

      .table {
        text-align: left;
        width: 100;
        margin: 100px auto;
      }

      th, td {
        padding: 20px 40px;
        border-bottom: 1px solid black;
      }
    </style>
  </head>

  <body>
    <div class="welcome"><%= image_tag attachments['eligia.svg'].url, width: '200px' %></div>
    <%= yield %>
  </body>
</html>
